@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
    font-style: normal;
}

:root{
    --darkblue:#172339;
    --gray:#49566D;
    --cream:#F3EDE7;
    --creamwhite:#FAF8F6;
    --purple:#A060FF;
    --pink:#CB30E3;
    --orange:#FFA84E;
}

body{
    display: grid;
    justify-content: center;
    background-color: var(--creamwhite);
}

header{
    width: 375px;
    background-color: var(--creamwhite);
}

h3{
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.444444px;
    color: var(--darkblue);
}

.logo{
    margin-top: 32px;
    margin-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button1{
    padding-top: 12px;
    display: flex;
    justify-content: center;
    border: 1px solid #172339;
    border-radius: 6px;
    width: 182px;
    height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0, 14px;
    color: var(--darkblue);
    text-decoration: none;
    background-color: white;
    margin-right: 16px;
}

.button1:hover{
    background-color: var(--darkblue);
    color: white;
    cursor: pointer;
}

.line{
    width: 151.57px;
    height: 19px;
    margin-top: 56px;
    margin-left: 170px;
    background-image: url(./Assets/Path\ 2.svg);
}

.title h2{
    margin-top: 8.32px;
    margin-left: 16px;
    width: 343px;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -0.527778px;
    color: var(--darkblue);
}
.title a{
    font-weight: 700;
}

.title p{
    margin-top: 32px;
    margin-left: 16px;
    width: 343px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0888889px;
    color: var(--gray);
}

.button2{
    margin-top: 32px;
    margin-left: 15.5px;
    text-decoration: none;
    width: 256px;
    height: 61px;
    border-radius: 6px;
    background-color: var(--darkblue);
    color: white;
    border: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: var(--creamwhite);
    cursor: pointer;
}

.button2:hover{
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}

main{
    background-color: var(--creamwhite);
}

.phone{
    width: 343px;
    height: 240px;
    margin-top: 55.68px;
    margin-left: 16px;
    border-radius: 15px;
    background: radial-gradient(100% 100% at 100% 100%, #A060FF 0%, #CB30E3 33.18%, #FFA84E 100%);
}

.iphoneimg{
    background-image: url(./Assets/iPhone12_For_Mobile.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    left: 30%;
    top: 10%;
    width: 140px;
    height: 360px;
}

.companies{
    display: grid;
    justify-content: center;
}

.companies a{
    font-weight: 700;
    margin-top: 56px;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: var(--darkblue);
}
.companies b{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.5px;
    color: var(--gray);
}

footer{
    background-color: var(--creamwhite);
}

.footman{
    width: 375px;
    height: 748px;
    margin-top: 237px;
    background-color: var(--darkblue);
    border-radius: 15px;
}

.manimg{
    background-image: url(./Assets/image-man.svg);
    width: 252px;
    height: 402px;
    position: relative;
    left: 18%;
    bottom: 23%;
}

.line2{
    background-image: url(./Assets/footer-path.svg);
    width: 49.27px;
    height: 40px;
    position: relative;
    bottom: 15%;
    left: 40%;
}

.footertxt{
    margin-top: -65px;
    margin-left: 16px;
}

.footertxt h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.416667px;
    color: var(--cream);
}

.footertxt b{
    font-weight: 700;
}

.footertxt p{
    width: 343px;
    padding-top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
    text-align: center;
    color: var(--creamwhite);
}

.footertxt h3{
    padding-top: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: var(--creamwhite);
}

.footertxt a{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.5px;
    color: var(--cream);
   
}

.endfooter{
    height: 420px;
    padding-top: 56px;
    text-align: center;
    height: 340px;
    
}

.endfooter p{
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.08333333px;
    color: var(--gray);
    padding-top: 53px;
    height: 20px;
}

.icon{
    padding-top: 80px;
}

.icon2{
    padding-left: 28px;
}

.companiestablet{
    display: grid;
}


@media screen and (min-width: 760px) {
    header{
        width: 760px;
    }

    .logo{
        width: 100%;
    }

    h3{
        margin-left: 39px;
    }

    .button1{
        width: 219px;
        height: 56px;
        text-align: center;
        padding-top: 12px;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: -0.16px;
        margin-right: 28px;
    }

    .tablet{
        display: flex;
    }

    .phone{
        background: radial-gradient(100% 100% at 100% 100%, #A060FF 0%, #CB30E3 33.18%, #FFA84E 100%);
        width: 281px;
        height: 482px;
    }

    .iphoneimg{
        width: 174.22px;
        height: 449.06px;
        position: relative;
        top: 55.1%;
        display: block;
    }

    .line{
        position: relative;
        left: 20%;
        top: 5%;
        background-repeat: no-repeat;
        width: 231.19px;
        background-image: url(/Assets/tabletpathh.svg);
    }

    .title{
        margin-left: 39px;
    }

    .title h2{
        margin-top: 50px;
        width: 520px;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.777778px;
        color: var(--darkblue);
        position: absolute;
        z-index: 1;
    }

    .title p{
        padding-top: 200px;
    }

    .companies{
        margin-left: 39px;
        width: 689px;
        display: flex;
        justify-content: space-between;
        margin-top: 88px;
    }
    .companiestablet{
        display: grid;
    }

    .footman{
        margin-top: 92px;
        width: 689px;
        height: 740px;
        position: relative;
        z-index: 1;
        top: 12%;
        left: 5%;
    }

    .manimg{
        background-image: url(./Assets/tablet-man.svg);
        background-repeat: no-repeat;
        width: 689px;
        height: 402px;
        position: relative;
        left: 0%;

    }

    .line2{
        margin-left: 50px;
    }

    .footertxt{
        text-align: center;
        display: grid;
        justify-content: center;
    }

    .footertxt h1{
        font-size: 40px;
        line-height: 48px;
}

    .footertxt p{
        width: 573px;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.09px;
        font-weight: 400;
    }

    .footertxt a{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2.5px;
        text-align: center;
        padding-left: 30px;
    }

    .footertxt h3{
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.18px;
    }

    .endfooter{
        background-color: var(--cream);
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    footer{
        width: 100%;
    }

    .endfooter h3{
        padding-top: 200px;
        padding-left: 10px;
    }
    .endfooter p{
        padding-top: 200px;
    }
    .icon{
        padding-top: 200px;
        padding-right: 30px;
    }

   
}

@media screen and (min-width: 1400px){
    header{
        width: 100vw;
    }
    
    .logo{
        width: 1400px;
        display: flex;
        justify-content: space-between;
    }


    main{
        display: flex;
        width: 100%;
        
       
        
    }

    .companies{
        width: 200px;
        display: grid;
        justify-content: space-between;
        margin-left: 160px;
   

    }

    .logo h3{
        margin-left: 165px;
    }

    .title{
        margin-left: 166px;
    }

    .title p{
        width: 350px;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.1px;
        padding-top: 240px;
    }

    .line{
        position: relative;
        left: 40%;
    }

    .title h2{
        font-weight: 400;
        font-size: 72px;
        line-height: 78px;
        letter-spacing: -1px;
        color: var(--darkblue);
        position: absolute;
        z-index: 1;
        width: 635px;
    }

    .button2{
        margin-top: 62px;
    }

    .phone{
        width: 350px;
        height: 600px;
        margin-left: 83px;
    }

    .iphoneimg{
        background-image: url(./Assets/desktop-phone.svg);
        width: 217px;
        height: 559px;
        position: relative;
        top: 47.8%;
        left: 15%;
        z-index: 1;
    }

    footer{
        width: 100%;
    }

    .footman{
        width: 1109px;
        height: 545px;
        display: flex;
        justify-content: center;
        position: relative;
        margin-left: 100px;

    }

    .endfooter{
        width: 100%;
    }


    .manimg{
        background-image: url(./Assets/Desktop-Man.svg);
        width: 359.81px;
        height: 589.56px;
        margin-left: 20px;
    }

    .line2{
        position: relative;
        top: 30%;
        left: 0%;
    }

    .footertxt{
        padding-top: 150px;
    }

    .footertxt h1{
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -0.5px;
        padding-left: 30px;

    }

    .footertxt p{
        text-align: start;
        width: 380px;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.1px;
        padding-left: 60px;
    }

    .footertxt h3{
        text-align: start;
        padding-left: 20px;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.18px;
        
    }

    .footertxt a{
        padding-right: 190px;
        font-size: 16;
        line-height: 26px;
        letter-spacing: 2.5px;
    }


    .endfooter h3{
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -0.444444px;
    }

    .endfooter p{
        font-size: 15px;
        line-height: 32px;
        letter-spacing: 0.0833333px;
    }

}